body { font-family: Verdana,Arial; 
  color: black; background-color: white; 
  font-size: 12px; }
body.navigationframe { font-family: Verdana,Arial; 
  color: white; background-color: #787878; 
  font-size: 12px; }

img { border:0px; }

a:link {color:#C91E0C; text-decoration: none; }
a:visited {color:#7E5C31; text-decoration: none; }
a:hover {text-decoration: underline; }
a:active {text-decoration: underline; }

a.navigation:link { color: white; text-decoration: none; font-size: 12px;}
a.navigation:visited { color: white; text-decoration: none; font-size: 12px;}
a.navigation:hover { color: white; font-weight: bold; 
  text-decoration: none; font-size: 12px; }
a.navigation:active { color: white; text-decoration: none; font-size: 12px;}

a.bold:link {color:#C91E0C; text-decoration: none; font-weight:bold; }
a.bold:visited {color:#7E5C31; text-decoration: none; font-weight:bold; }
a.bold:hover {text-decoration: underline; font-weight:bold; }
a.bold:active {text-decoration: underline; font-weight:bold; }

a.section {color: green; text-decoration: none; font-weight: bold; }
a.section:hover {color: green; text-decoration: underline; font-weight: bold; }

ul.useslist a:link {color:#C91E0C; text-decoration: none; font-weight:bold; }
ul.useslist a:visited {color:#7E5C31; text-decoration: none; font-weight:bold; }
ul.useslist a:hover {text-decoration: underline; font-weight:bold; }
ul.useslist a:active {text-decoration: underline; font-weight:bold; }

ul.hierarchy { list-style-type:none; }
ul.hierarchylevel { list-style-type:none; }

p.unitlink a:link {color:#C91E0C; text-decoration: none; font-weight:bold; }
p.unitlink a:visited {color:#7E5C31; text-decoration: none; font-weight:bold; }
p.unitlink a:hover {text-decoration: underline; font-weight:bold; }
p.unitlink a:active {text-decoration: underline; font-weight:bold; }

tr.list { background: #FFBF44; }
tr.list2 { background: #FFC982; }
tr.listheader { background: #C91E0C; color: white; }

table.wide_list { border-spacing:2px; width:100%; }
table.wide_list td { vertical-align:top; padding:4px; }

table.markerlegend { width:auto; }
table.markerlegend td.legendmarker { text-align:center; }

table.sections { background:white; }
table.sections td {background:lightgray; }

table.summary td.itemcode { width:100%; }
table.detail td.itemcode { width:100%; }

td.itemname {white-space:nowrap; }
td.itemunit {white-space:nowrap; }
td.itemdesc { width:100%; }

div.nodescription { color:red; }
dl.parameters dt { color:blue; }

/* Various browsers have various default styles for <h6>,
   sometimes ugly for our purposes, so it's best to set things
   like font-size and font-weight in out pasdoc.css explicitly. */
h6.description_section { 
  /* font-size 100% means that it has the same font size as the 
     parent element, i.e. normal description text */
  font-size: 100%;
  font-weight: bold; 
  /* By default browsers usually have some large margin-bottom and 
     margin-top for <h1-6> tags. In our case, margin-bottom is
     unnecessary, we want to visually show that description_section
     is closely related to content below. In this situation
     (where the font size is just as a normal text), smaller bottom
     margin seems to look good. */
  margin-bottom: 0em;
}

/* Style applied to Pascal code in documentation 
   (e.g. produced by @longcode tag) } */
span.pascal_string { color: #000080; }
span.pascal_keyword { font-weight: bolder; }
span.pascal_comment { color: #000080; font-style: italic; }
span.pascal_compiler_comment { color: #008000; }
span.pascal_numeric { }
span.pascal_hex { }

p.hint_directive { color: red; }

input#search_text { }
input#search_submit_button { }

acronym.mispelling { background-color: #ffa; }

/* Actually this reduces vertical space between *every* paragraph
   inside list with @itemSpacing(compact). 
   While we would like to reduce this space only for the
   top of 1st and bottom of last paragraph within each list item.
   But, well, user probably will not do any paragraph breaks
   within a list with @itemSpacing(compact) anyway, so it's
   acceptable solution. */
ul.compact_spacing p { margin-top: 0em; margin-bottom: 0em; }
ol.compact_spacing p { margin-top: 0em; margin-bottom: 0em; }
dl.compact_spacing p { margin-top: 0em; margin-bottom: 0em; }

/* Style for table created by @table tags:
   just some thin border.
   
   This way we have some borders around the cells
   (so cells are visibly separated), but the border 
   "blends with the background" so it doesn't look too ugly.
   Hopefully it looks satisfactory in most cases and for most
   people. 
   
   We add padding for cells, otherwise they look too close.
   This is normal thing to do when border-collapse is set to
   collapse (because this eliminates spacing between cells). 
*/
table.table_tag { border-collapse: collapse; }
table.table_tag td { border: 1pt solid gray; padding: 0.3em; }
table.table_tag th { border: 1pt solid gray; padding: 0.3em; }

table.detail {
  border: 1pt solid gray;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}